target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#Config
config.service.ts
config.json
./bin

# Additional files to ignore
mvnw.cmd
.mvn
.sts4-cache
.tern-project
debug.log
mvnw
src/main/environment/common_local.properties
